<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Record</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>DATA</h1>

    <form action="addrecord/" method="post">
        {% csrf_token %}
        <label>Name :</label>
        <input type="text" name="name" required><br><br>
        <label>Age :</label>
        <input type="number" name="age" required><br><br>
        <label>Email :</label>
        <input type="email" name="email" required><br><br>
        <label>Phone :</label>
        <input type="number" name="phone" required><br><br>
        <button type="submit">ADD DATA</button>
    </form>
  
    
</body>
</html>